@model List<PetGrooming.Models.Pet>

@{
    ViewBag.Title = "List";
}

<h2>List of Pets</h2>
<a href="/Pet/New">Add New</a>
@{ 
    foreach(var Pet in Model)
    {
    <div>
        <span class="hidden">@Pet.PetID</span>
        <span><a href="/Pet/Show/@Pet.PetID">@Pet.PetName</a></span>
        
        <span>|Color: @Pet.Color</span>
        <span>|Species: @Pet.Species.Name</span>
        <span>|Weight: @Pet.Weight KG</span>
        <span>|Notes: @Pet.Notes</span>

        <span><a href="/Pet/Update/@Pet.PetID">Update/Edit</a></span>
        <span><a href="/Pet/ConfirmDelete/@Pet.PetID">Delete</a></span>
    </div>
    }
}