@model List<PetGrooming.Models.Pet>

@{
    ViewBag.Title = "List";
}

<h2>List of Pets</h2>

@{ 
    foreach(var Pet in Model)
    {
        <div>
            <span class="hidden">@Pet.PetID</span>
            <span><a href="/Pet/Show/@Pet.PetID">@Pet.PetName</a></span>
            <span>|color: @Pet.Color|</span>
            <span>|Species: @Pet.Species.Name|</span>
            <span>|Weight: @Pet.Weight kg|</span>
            <span>|Notes: @Pet.Notes</span>
            
            <span><a href="/Pet/Update/@Pet.PetID">Update</a></span>
        </div>
    }
}