@model PetGrooming.Models.ViewModels.UpdatePet



@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<a href="/Pet/List">Back to List</a>
<form action="/Pet/Update/@Model.pet.PetID" method="POST">
    <span class="hidden">Pet ID</span><input class="hidden" type="text" value="@Model.pet.PetID" id="PetID" name="PetID" /><br />
    <span>Pet Name</span><input type="text" value="@Model.pet.PetName" id="PetName" name="PetName" /><br />
    <span>Pet Color</span><input type="text" value="@Model.pet.Color" id="PetColor" name="PetColor" /><br />
    <span>Pet Weight</span><input type="text" value="@Model.pet.Weight" id="PetWeight" name="PetWeight" /><br />
    <span>Species: </span><span>

        <select  id="SpeciesID" name="SpeciesID">
            @{ 
                foreach (var species in Model.species)
                {
                    var selected = "";

                    if (species.SpeciesID == Model.pet.SpeciesID)
                    {
                        selected = "selected";
                    }
                    <option value="@species.SpeciesID" @selected >@species.Name</option>
                }
            }
        </select>
    </span>
    <div>
        <span>Pet Notes</span>
        <textarea id="PetNotes" name="PetNotes">@Model.pet.Notes</textarea>
    </div>
    <input type="submit" value="Update Pet" /><button onclick="window.location.href = '/Pet/List';">Cancel</button>
</form>